.container {
  min-height: 100vh;
}

.my-footer {
  position: sticky;
  top: 100vh;
}

// .my-main {
//   color: $colorCustom_semiwhite;
//   position: relative;
//   top: 15vh;
//   h4 > div {
//     text-align: justify;
//   }
// }

// header img {
//   width: 50px;
//   height: 50px;
// }
