<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<link rel="shortcut icon" href="IMG/favicon_lg.png" type="image/x-icon" />
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/index.css">
		<title>RequestHandler</title>
	</head>
	<body>
		<noscript>Please enable JavaScript for this page.</noscript>
		<div class="container">
			<header class="my-header">{% include 'header.html' %}</header>
			<main class="my-content">{% block content %} {% endblock %}</main>
			<footer class="my-footer">{% include 'footer.html' %}</footer>
		</div>
		<script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script src="jquery/dist/jquery.min.js"></script>
        <script src="gsap/dist/gsap.min.js"></script>
		<script src="js/index.js" type="module"></script>
	</body>
</html>
